
.caption {margin-left: 40px; margin-right: 40px; font-size: smaller; text-align: center;}
.center {margin-left: auto; margin-right: auto; display: block;}

a.menu {
	-webkit-font-smoothing: antialiased;
	font-weight: normal;
	text-shadow: rgba(0, 0, 0, 0.4) 0 -1px 0;
	padding: 2px 2px 2px 22px;
	height: 30px;
}

a.menu.selected {
	background: url(../images/arrow-right.png) no-repeat;
}

td img {
  display: inline;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  text-align: center;
  border: none;
}
