<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>io.github.colemakmods.keyboardlayout.colemakdh</string>
	<key>CFBundleName</key>
	<string>Colemak DH</string>
	<key>CFBundleVersion</key>
	<string>2.0.0</string>
	<key>KLInfo_Colemak DH ANSI</key>
	<dict>
		<key>TICapsLockLanguageSwitchCapable</key>
		<false/>
		<key>TISInputSourceID</key>
		<string>io.github.colemakmods.keyboardlayout.colemakdh.colemakdhansi</string>
		<key>TISIntendedLanguage</key>
		<string>en</string>
	</dict>
	<key>KLInfo_Colemak DH ANSI - Extended</key>
	<dict>
		<key>TICapsLockLanguageSwitchCapable</key>
		<false/>
		<key>TISInputSourceID</key>
		<string>io.github.colemakmods.keyboardlayout.colemakdh.colemakdhansi-extended</string>
		<key>TISIntendedLanguage</key>
		<string>en</string>
	</dict>
	<key>KLInfo_Colemak DH ISO</key>
	<dict>
		<key>TICapsLockLanguageSwitchCapable</key>
		<false/>
		<key>TISInputSourceID</key>
		<string>io.github.colemakmods.keyboardlayout.colemakdh.colemakdhiso</string>
		<key>TISIntendedLanguage</key>
		<string>en</string>
	</dict>
	<key>KLInfo_Colemak DH ISO - Extended</key>
	<dict>
		<key>TICapsLockLanguageSwitchCapable</key>
		<false/>
		<key>TISInputSourceID</key>
		<string>io.github.colemakmods.keyboardlayout.colemakdh.colemakdhiso-extended</string>
		<key>TISIntendedLanguage</key>
		<string>en</string>
	</dict>
	<key>KLInfo_Colemak DH Matrix</key>
	<dict>
		<key>TICapsLockLanguageSwitchCapable</key>
		<false/>
		<key>TISInputSourceID</key>
		<string>io.github.colemakmods.keyboardlayout.colemakdh.colemakdhmatrix</string>
		<key>TISIntendedLanguage</key>
		<string>en</string>
	</dict>
	<key>KLInfo_Colemak DH Matrix - Extended</key>
	<dict>
		<key>TICapsLockLanguageSwitchCapable</key>
		<false/>
		<key>TISInputSourceID</key>
		<string>io.github.colemakmods.keyboardlayout.colemakdh.colemakdhmatrix-extended</string>
		<key>TISIntendedLanguage</key>
		<string>en</string>
	</dict>
</dict>
</plist>
